sln/DbMigrator.Console/bin
sln/DbMigrator.Console/obj
sln/DbMigrator.Core/bin
sln/DbMigrator.Core/obj
sln/DbMigrator.Core.Test/bin
sln/DbMigrator.Core.Test/obj
*.suo
*.user
sln/packages
/sln/DbMigrator.Core.Test/MySQL/migrate/LastRun-interactive.txt
/sln/DbMigrator.Core.Test/MySQL/migrate/UserData.txt
/sln/DbMigrator.Core.Test/MySQL/migrate/LastRun-migrate.txt
